<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="robotiq_sim_gripper_ros2_control"
                 params="name sim_gazebo:=false sim_isaac:=false use_fake_hardware:=true sim_mujoco:=false, mujoco_model">

        <ros2_control name="${name}" type="system">
            <!-- Plugins -->
            <hardware>
                <xacro:if value="${sim_isaac}">
                    <plugin>isaac_ros2_control/IsaacSystem</plugin>
                    <param name="joint_commands_topic">/isaac_joint_commands</param>
                    <param name="joint_states_topic">/isaac_joint_states</param>
                </xacro:if>
                <xacro:if value="${sim_gazebo}">
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </xacro:if>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                </xacro:if>
                <xacro:if value="${sim_mujoco}">
                    <plugin>cartesian_controller_simulation/Simulator</plugin>
                    <param name="mujoco_model">${mujoco_model}</param>
                </xacro:if>
            </hardware>

            <!-- Joint interfaces -->
            <joint name="robotiq_85_left_knuckle_joint">
                <!-- With Ignition, we have mimic joints, so we only need this command interface activated -->
                <xacro:if value="${sim_gazebo}">
                    <state_interface name="position">
                        <param name="initial_value">0.2</param>
                    </state_interface>
                </xacro:if>
                <xacro:unless value="${sim_gazebo}">
                    <param name="initial_position">0.7929</param>
                    <state_interface name="position"/>
                </xacro:unless>

                <command_interface name="position" />
                <state_interface name="velocity"/>
            </joint>
            <joint name="robotiq_85_right_knuckle_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">-1</param>
                <xacro:unless value="${sim_gazebo}">
                    <command_interface name="position"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:unless>
            </joint>
            <joint name="robotiq_85_left_inner_knuckle_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">1</param>
                <xacro:unless value="${sim_gazebo}">
                    <command_interface name="position"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:unless>
            </joint>
            <joint name="robotiq_85_right_inner_knuckle_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">-1</param>
                <xacro:unless value="${sim_gazebo}">
                    <command_interface name="position"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:unless>
            </joint>
            <joint name="robotiq_85_left_finger_tip_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">-1</param>
                <xacro:unless value="${sim_gazebo}">
                    <command_interface name="position"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:unless>
            </joint>
            <joint name="robotiq_85_right_finger_tip_joint">
                <param name="mimic">robotiq_85_left_knuckle_joint</param>
                <param name="multiplier">1</param>
                <xacro:unless value="${sim_gazebo}">
                    <command_interface name="position"/>
                    <state_interface name="position"/>
                    <state_interface name="velocity"/>
                </xacro:unless>
            </joint>

            <!-- Only add this with fake hardware mode -->
            <xacro:unless value="${sim_gazebo or sim_isaac or sim_mujoco}">
                <gpio name="reactivate_gripper">
                    <command_interface name="reactivate_gripper_cmd" />
                    <command_interface name="reactivate_gripper_response" />
                </gpio>
            </xacro:unless>

        </ros2_control>
    </xacro:macro>

</robot>
